{% extends 'profile/Base.html' %}

{% block content %}

<main class="uk-container uk-flex uk-flex-center uk-flex-middle uk-background-muted">
  <div class="uk-card uk-card-default uk-card-body uk-card-small uk-border-rounded">
    <ul class="uk-breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Category</a></li>
      <li><span>Your Orders</span></li>
    </ul>
    
    <div class="uk-margin-top">
      <img class="uk-margin-auto uk-display-block" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <div class="uk-width-1-2 uk-margin-auto">
        <p class="uk-text-lead uk-margin-bottom">All your orders will be saved here for you to access their state anytime.</p>
        <div class="uk-flex uk-flex-center">
          <a href="{{ url_for('home') }}" class="uk-button uk-button-primary uk-button-large uk-margin-auto">CONTINUE SHOPPING</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
