body {
    background: lightgrey;
    display: flex;
    justify-content: center;
  }
  
  .page {
    padding: 50px 80px;
    margin: 50px;
    background: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    max-width: 800px;
    min-width: 500px;
  }
  
    


    
    
 