{% extends 'base.html' %}

{% block content %}

<div class="row pb-0 pe-lg-0  align-items-center rounded-3 border shadow-lg bg-light">
    <div class="col-lg-12 p-3 p-lg-12 pt-lg-3 bg-light">    
<div class="container">
    <div class="row">
      <div class="col-lg-8 align-self-start"> <!-- Added align-self-start class -->
        <table class="table table-default">
          <tbody>
            <tr>
                <td colspan="3">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                     
                        <p><i class="bi bi-check-circle-fill"></i> 1. <span>DELIVERY ADDRESS</span></p>
                    </div>
                    <div class="d-flex justify-content-center">
                      <a href="#" class="text-decoration-none">Change <span class="bi bi-chevron-right"></span></a>
                    </div>
                  </div>
                </td>
              </tr>   
              <tr>
                <td colspan="3">
                  <div class="d-flex justify-content-start">
                    <div>
                      <p>Ifeka Obi</br>
                     No 12 Algiers street Wuse zone5 Abuja | Federal Capital Territory - ABUJA-WUSE ZONE 5 | +234 7018004428</p>
                    </div>
                  </div>
                 
                </td>
              </tr>
                                      
          </tbody>  
        </table>  

        <table class="table table-default">
            <tbody>
              <tr>
                  <td colspan="3">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex justify-content-center">
                        <p><i class="bi bi-check-circle-fill"></i> 2. <span>DELIVERY</span></p>
                      </div>                    
                    </div>
                  </td>
                </tr>

                <tr>
                    <td colspan="3">
                      <div class="row">
                        <div class="col-auto">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                        <div class="col-11">
                          <p>Pick-up Station(from  &#8358;99.99) <br>Delivery between 17 july and 21 july  </p>                     
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="3">
                    <div class="border rounded">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <p><span>Pick-up Station</span></p>
    </div>
    <div class="d-flex justify-content-center">
      <a href="#" class="text-decoration-none">Select Pickup Station<span class="bi bi-chevron-right"></span></a>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
    <div class="col-11">
      <p>No Pickup Station Selected<br>To use this option, you will need to add a pickup station near your location.</p>
    </div>
  </div>
</div>
           
                    </td>
                  </tr> 
                  
                  <tr>
                    <tr>
                        <td colspan="3">
                          <div class="row">
                            <div class="col-auto">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            </div>
                            <div class="col-11">
                              <p>Door Delivery(from  &#8358;99.99) <br>Delivery between 17 july and 21 july  </p>                     
                            </div>
                          </div>
                        </td>
                      </tr>
    
                      <tr>
                        <td colspan="3">
                        <div class="border rounded">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <p><span>Door Delivery</span><br>Delivery between 19 July and 21 July</p>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#" class="text-decoration-none">Change<span class="bi bi-chevron-right"></span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <!-- Image section -->
          <img src="your-image-url.jpg" alt="">
        </div>
        <div class="col-10">
          <p>Cotton 4 Pcs Shirts Men's Summer Short Sleeve Cartoon Printed Young Men T-shirt<br>QTY: 1</p>
        </div>
        <div class="row">
            <div class="col-auto">
              <!-- Image section -->
              <img src="your-image-url.jpg" alt="">
            </div>
            <div class="col-10">
              <p>Six Pieces-in-1 Quality Ankle Socks<br>QTY: 1</p>
            </div>
        
      </div>
      
               
                        </td>
                      </tr> 
                      
                      <tr>                            
                  
            </tbody>  
            
                <td colspan="3" style="border-top: none;">
                  <div  class="d-flex justify-content-end">
                    <a href="#" class="btn btn-outline-primary">Update Cart</a>
                  </div>
                </td>
              
          </table>   
      </div>
      
      
    <!---->
    <div class="col-lg-4 align-self-start"> <!-- Added align-self-start class -->
      <div class="card">
            <div class="card-header">
                Order Summary
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        Items Total(3)
                    </div>
                    <div class="col text-end">
                        &#8358;99.99 <!-- Replace with your actual subtotal amount -->
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Delivery Fees
                    </div>
                    <div class="col text-end">
                        &#8358;99.99 <!-- Replace with your actual subtotal amount -->
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                       Free Delivery
                    </div>
                    <div class="col text-end">
                        &#8358;99.99 <!-- Replace with your actual subtotal amount -->
                    </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col">
                     Total:
                  </div>
                  <div class="col text-end">
                    &#8358;99.99
                 
                  </div>
              </div>
               
                <hr>
                <div class="row flex-fill">                
                 <a href="/onepagecheckout/delivery" class="btn btn-outline-primary">Confirm Order</a>
                 </div>             
            </div>
        </div>
   <br>
    <div class="card">
        <div class="card-body">
        
         
        </div>
      </div>
        <!--col-lg-4 end-->
    </div>
      
    
    <!-- Row -->
    </div>
<!-- Container -->
</div>
<!-- Last -->
    </div>
</div>

{% endblock content %}
