@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400,500,600&display=swap');

.contact-col {
    background-color: #073101;
  }
  .icon-opacity:hover {
    opacity: 0.7; /* Adjust the opacity value as desired */
  }

   /* CSS for the active nav-item */
   .nav-item.active > .nav-link,
   .nav-item:hover > .nav-link {
    color:  #073101; /* Change the font color to your desired color */
    background-color: #fff; /* Change the background color to your desired color */
   }
 
   .nav-icon-link {
    position: relative;
  }

  .nav-icon-link.absolute {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
   
   .wrapper {
     min-height: 100%;
     display: flex;
     flex-direction: column;
   }
   
  
   
   .jiftech-text {
    padding: 10px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
  }

  /* ====carousel==== */

  
  

    .icon-circle {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #000000;
      color: #FFFFFF;
      margin-right: 10px;
    }
    
    .text-with-icon {
      display: flex;
      align-items: flex-start;
      gap: 10px;
    }
    
    .text-with-icon h5,
    .text-with-icon p {
      margin: 0;
    }
    @media (max-width: 767px) {
      .bg-light .p-5 {
        padding: 2rem;
      }
    
      .display-6 {
        font-size: 1.5rem;
      }
    
      .lead {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    
      .btn-lg {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
      }
    
      .col-lg-7 {
        padding: 1rem;
      }
    
      .p-3 {
        padding: 0.75rem;
      }
    
      .rounded-lg-3 {
        border-radius: 0.75rem;
      }
    
      .col-xxl-8.py-2 {
        padding: 1rem;
      }
    
    
      .col-lg-4.offset-lg-1 {
        margin-left: 0;
      }
    
      .col-lg-4.offset-lg-1 .p-0 {
        padding: 0;
      }
    
      
    
      .container.col-xxl-8 {
        padding: 0;
      }
    
      .container.col-xxl-8 > .row {
        margin-left: 0;
        margin-right: 0;
      }
    
      .container.col-xxl-8 > .row > .col-lg-6 {
        padding-left: 0;
        padding-right: 0;
      }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
      .bg-light .p-5 {
        padding: 2.5rem;
      }
    
      .display-6 {
        font-size: 2rem;
      }
    
      .lead {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }
    
      .btn-lg {
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
      }
    
      .col-lg-7 {
        padding: 1.5rem;
      }
    
      .p-3 {
        padding: 1rem;
      }
    
      .rounded-lg-3 {
        border-radius: 1rem;
      }
    
      .col-xxl-8.py-2 {
        padding: 2rem;
      }
    
      .card {
        margin-bottom: 7.5rem;
        transition: transform 0.3s, box-shadow 0.3s;
      }
      .card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
   
    
      .col-lg-4.offset-lg-1 {
        margin-left: 0;
      }
    
      .col-lg-4.offset-lg-1 .p-0 {
        padding: 0;
      }
    
    
      .container.col-xxl-8 {
        padding: 0;
      }
    
      .container.col-xxl-8 > .row {
        margin-left: 0;
        margin-right: 0;
      }
    
      .container.col-xxl-8 > .row > .col-lg-6 {
        padding-left: 0;
        padding-right: 0;
      }
    }

  
    .carousel-caption {
      display: none;
    }
  
    .carousel-item:hover .carousel-caption {
      display: block;
    }
  
/* Why choose us */
.vertical-line {
  border-left: 1px solid #ccc;
  padding-left: 20px; /* Add some padding to create space between the line and content */
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.heartbeat-animation:hover {
  animation: heartbeat 1s infinite;
}



   
   