<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" >
            <div class="container col-xxl-8 py-5">
              <div class="row overflow-x-auto flex-nowrap">
                <div class="col-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card 1</h5>
                      <p class="card-text">This is the content of Card 1.</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card 2</h5>
                      <p class="card-text">This is the content of Card 2.</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card 3</h5>
                      <p class="card-text">This is the content of Card 3.</p>
                    </div>
                  </div>
                </div>
                <!-- Add more card items here -->
                <div class="col-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card 4</h5>
                      <p class="card-text">This is the content of Card 4.</p>
                    </div>
                  </div>
                </div>
      
                <div class="col-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card 5</h5>
                      <p class="card-text">This is the content of Card 5.</p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card 6</h5>
                      <p class="card-text">This is the content of Card 6.</p>
                    </div>
                  </div>
                </div>
                <!-- Add more card items here -->
              </div>
            </div>
          </div>
          <!-- Add more carousel-item structures here -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
      <div class="container col-xxl-8 py-2">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg bg-light">
          <div class="col-lg-12 p-3 p-lg-12 pt-lg-3 bg-light">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-header">
                <h1 class="display-5 fw-bold text-center" style="color: #073101;">Our Services</h1>
            </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingeNaira">
                  <button class="accordion-button collapsed fw-bold" style="color: #073101;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeNaira" aria-expanded="false" aria-controls="flush-collapseeNaira">
                    Cashless Services
                  </button>
                </h2>
                <div id="flush-collapseeNaira" class="accordion-collapse collapse" aria-labelledby="flush-headingeNaira" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-sm">
                        <a class="text-info" href="https://fics.ng/enaira_info">
                          <img class="rounded-lg-3" src="/static/assets/images/service_providers/enaira_service_logo.png" alt="" width="200">
                        </a>
                      </div>
                      <div class="col-sm">
                        <img class="rounded-lg-3" src="/static/assets/images/service_providers/palmpay_service.png" alt="" width="200">
                      </div>
                      <div class="col-sm">
                        <img class="rounded-lg-3" src="/static/assets/images/service_providers/opay_service.png" alt="" width="200">
                      </div>
                      <div class="col-sm">
                        <img class="rounded-lg-3" src="/static/assets/images/service_providers/onepipe_service.png" alt="" width="200">
                      </div>
                      <div class="col-sm">
                        <img class="rounded-lg-3" src="/static/assets/images/service_providers/fairmoney_services.png" alt="" width="200">
                      </div>
                      <div class="col-sm">
                        <img class="rounded-lg-3" src="/static/assets/images/service_providers/nassrawa_irs.png" alt="" width="200">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed fw-bold" style="color: #073101;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Identity Services
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-sm">
                        BVN
                        <img class="rounded-lg-3" src="/static/assets/images/service_providers/bvn.jpeg" alt="" width="520">
                      </div>
                      <div class="col-sm">
                        LASSRA
                        <img class="rounded-lg-3" src="/static/assets/images/service_providers/lassra.png" alt="" width="520">
                      </div>
                      <div class="col-sm">
                        NIN
                        <img class="rounded-lg-3" src="/static/assets/images/service_providers/nin.png" alt="" width="520">
                      </div>
                      <div class="col-sm">
                        CheckIN
                        <img class="rounded-lg-3" src="/static/assets/images/service_providers/Checkin.png" alt="" width="520">
                      </div>
                      <div class="col-sm">
                        Sim Registration
                        <img class="rounded-lg-3" src="/static/assets/images/service_providers/NCC.png" alt="" width="520">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>