{% include 'base.html' %}

{% block content %}
<main class="container bg-light">
  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 rounded-3 border shadow-lg bg-light">
      <div class="col-lg-12">
        <div class="contactlist d-flex flex-column">
          <div class="mb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7880.030715337113!2d7.458547000000001!3d9.062363!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0b226a2578cd%3A0x70b143880084f055!2s12%20Algiers%20St%2C%20Zone%205%20904101%2C%20Abuja!5e0!3m2!1sen!2sng!4v1658155368808!5m2!1sen!2sng" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <hr>
          <h1 class="display-6 fw-bold lh-1 mb-3" style="color: #073101;">Contact Us</h1>
          <p class="lead">For enquiries and issues, we have our support team ready to assist you</p>
          <br>
          <div class="row g-3 text-white">
            <div class="col-lg-6 contact-col">
              <div class="info-item d-flex align-items-center p-3">
                <i class="bi bi-geo-alt-fill me-3"></i>
                <div>
                  <h4>Location:</h4>
                  <p>12 Algiers Street, Wuse zone 5, Abuja</p>
                  <p>No 19, Town Planning Way Ilupeju, Lagos</p>
                </div>
              </div><!-- End Info Item -->
            </div>
            <div class="col-lg-6 contact-col">
              <div class="info-item d-flex align-items-center p-3">
                <i class="bi bi-envelope-fill me-3"></i>
                <div>
                  <h4>Email:</h4>
                  <p>support@fics.ng</p>
                  <p>support@ficexchangeplc.com</p>
                </div>
              </div><!-- End Info Item -->
            </div>
            <div class="col-lg-6 contact-col">
              <div class="info-item d-flex align-items-center p-3">
                <i class="bi bi-telephone-fill me-3"></i>
                <div>
                  <h4>Call:</h4>
                  <p>09134449444</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 contact-col">
              <div class="info-item d-flex align-items-center p-3">
                <a href="https://api.whatsapp.com/send?phone=8061992760">
                  <i class="bi bi-whatsapp me-3"></i>
                </a>
                <div>
                  <h4>Whatsapp</h4>
                  <p>08061992760</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
