<div class="wrapper">
<footer class="footer mt-auto text-center bg-light fixed-bottom ">
  <div class="container">
      <span>
        Powered by <a href="https://ficexchangeplc.ng">SenseiTech Development.</a><br>
      </span>
      <span class="text-muted">
        <!--&copy; copyright <span class="flask-moment" data-timestamp="2023-06-05T18:23:02Z" data-function="format" data-format="YYYY" data-refresh="0" style="display: none">2023-06-05T18:23:02Z</span> FICx.--> All Rights Reserved
      </span>
    </div>
  </footer>
</div>