
<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-6">
        <h5 class="mb-4">USEFUL LINKS</h5>
        <ul class="list-unstyled">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Return Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-6 ">
        <h5 class="mb-4 ">COMPANY INFORMATION</h5>
        <p>Location: 9 Oniranu Street, Computer Village, Ikeja, Lagos.</p>
        <p>Opening Hours: Mon - Fri (8:00 AM - 6:00 PM), Thurs (10:00 AM - 6:00 PM)</p>
      </div>
    </div>
  </div>
 <hr>
  <div class="container d-flex justify-content-center align-items-center">
    <span class="text-body-secondary"> Designed by Ifeka Obi..</span>
    
     <span class="text-muted">
            <!--&copy; copyright <span class="flask-moment" data-timestamp="2023-06-20T08:04:57Z" data-function="format" data-format="YYYY" data-refresh="0" style="display: none">2023-06-20T08:04:57Z</span> FICx.--> All Rights Reserved
        </span>
  </div>
</footer>


  