{% include 'base.html' %}
{% block content %}
<main class="bg-light">
  <div class="p-5 rounded text-body-emphasis bg-body-secondary" style="background-image: url('/static/assetes/full-shot-man-experiencing-virtual-reality.jpg'); background-size: cover; background-position: center;">
    <div class="col-lg-3 px-0">
      <h1 class="display-4 fst-italic text-white">Title of a longer featured blog post</h1>
      <p class="lead my-3 text-white">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0 "><a href="#" class="text-body-emphasis fw-bold text-white">Continue reading...</a></p>
    </div>
  </div>
  

<div class="container col-xxl-8  py-2">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg bg-light">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 bg-light">

        <h2 class="display-6 fw-bold" style="font-family: 'Roboto', sans-serif; font-weight:bold;color: #073101;">

          Company Name
      </h2>
                <p class="lead text-justify">

            SenseiTech is a leading tech company specializing in software development and gadget sales. 
            With a focus on innovation and customer satisfaction, their seasoned professionals create
             customized software solutions using the latest technologies. They offer a diverse range of 
             cutting-edge gadgets and prioritize quality in their product selection. SenseiTech's strong 
             track record and dedication to building relationships with clients ensure exceptional service
              and support throughout the software development process. Continuously adapting and innovating, 
              SenseiTech remains at the forefront of the industry, shaping the future of technology with their
               excellence in software development and gadget sales.    
               </p>   
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="" width="520">
    </div>
       
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}