{% include 'base.html' %}
{% block content %}

  <div class="container col-xxl-8 py-2">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg bg-light">
    <div id="carouselExampleAutoplaying"  class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-indicators">
<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-item active" data-bs-interval="30000">
  <div class="card">
    <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" class="card-img-top" alt="...">
    <div class="card-body animate__animated animate__fadeInTopRight">
      <h5 class="card-title">Second slide label</h5>
      <p class="card-text animate__animated animate__fadeInBottomLeft">Some representative placeholder content for the second slide.</p>
    </div>
  </div>
</div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item active" data-bs-interval="30000">
          <div class="card">
            <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" class="card-img-top" alt="...">
            <div class="card-body animate__animated animate__fadeInTopRight">
              <h5 class="card-title">Second slide label</h5>
              <p class="card-text animate__animated animate__fadeInBottomLeft">Some representative placeholder content for the second slide.</p>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
  
  <section>
    <div class="container col-xxl-8 ">
      <div class="bd-example m-0 border-0">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-8 py-5">
            <div class="sec-heading text-center">
              <h2 class="text-primary">Why<span class="text-primary"> Choose Us?</span></h2>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">    
          <div class="col-md-4">
            <div class="card delay-3" style=" height: 100%;">
              <div class="d-flex flex-column justify-content-between h-100">
                <div class="d-flex justify-content-end">
                  <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid custom-image" style="width: 100%; height: 100%;">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center" style="color: #0A3BAD">Automated Delivery</h5>
                  <p class="card-text text-center text-black">We have swift automated system with a 24/7 delivery service almost instantly, nothing beats a seamless process..</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card delay-3" style=" height: 100%;">
              <div class="d-flex flex-column justify-content-between h-100">
                <div class="d-flex justify-content-end">
                  <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid custom-image" style="width: 100%; height: 100%;">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center" style="color: #0A3BAD">Discount%</h5>
                  <p class="card-text text-black">Enjoy massive discount on our platform when you make purchase for your day to day needs.</p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card delay-3" style=" height: 100%;">
              <div class="d-flex flex-column justify-content-between h-100">
                <div class="d-flex justify-content-end">
                  <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid custom-image" style="width: 100%; height: 100%;">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center" style="color: #0A3BAD">24/7 Support</h5>
                  <p class="card-text text-black">We guarantee our customers top notch services all time. Hence, we are always respond to your needs.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
            <!--- sub menu-->
  <div class="container col-xxl-8 py-2">
    <div class="bd-example-snippet bd-code-snippet">
      <div class="bd-example m-0 border-0">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card sub-card delay-2">
              <div class="card-body ">
                <h3 class="card-text ">Laptops</h3>               
                  <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid sub-image align-content-bottom">
                </div>
              </div>
            </div>
          
          <div class="col">
            <div class="card card-sub">
              <div class="card-body">
                <h3 class="card-text ">Accessories</h3>
                <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image" class="img-fluid mx-auto d-block align-bottom">
              </div>
            </div>
          <br> 
        
            <div class="col">
              <div class="card card-sub" >
                <div class="card-body">
                  <h3 class="card-text ">Gaming</h3>
                  <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image" class="img-fluid mx-auto d-block align-bottom">
                </div>
              </div>
            </div>
          </div> 
          
  
          <div class="col">
            <div class="card sub-card delay-2">
              <div class="card-body">
                <h3 class="card-text ">Phones</h3>    
                <div>           
                  <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid sub-image">
                </div>
              </div>
              </div>
            </div>
          
          
        </div>
      </div>
    </div>
  </div>
  

  <section>
    <div class="container col-xxl-8 ">
      <div class="bd-example m-0 border-0">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-8 py-5">
            <div class="text-center">
              <h2 class="text-primary">Available<span class="text-primary"> Services</span></h2>
              <p>Automated Instant Delivery.</p>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">    
          <div class="col-md-4">
            <div class="card delay-3" style=" height: 100%;">
              <div class="d-flex flex-column justify-content-between h-100">
                <div class="d-flex justify-content-end">
                  <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid custom-image" style="width: 100%; height: 100%;">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center" style="color: #0A3BAD">Automated Delivery</h5>
                  <p class="card-text text-black">We have swift automated system with a 24/7 delivery service almost instantly, nothing beats a seamless process..</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card delay-3" style=" height: 100%;">
              <div class="d-flex flex-column justify-content-between h-100">
                <div class="d-flex justify-content-end">
                  <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid custom-image" style="width: 100%; height: 100%;">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center" style="color: #0A3BAD">Discount %</h5>
                  <p class="card-text text-black">Enjoy massive discount on our platform when you make purchase for your day to day needs.</p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card delay-3" style=" height: 100%;">
              <div class="d-flex flex-column justify-content-between h-100">
                <div class="d-flex justify-content-end">
                  <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid custom-image" style="width: 100%; height: 100%;">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center" style="color: #0A3BAD">24/7 Support</h5>
                  <p class="card-text text-black">We guarantee our customers top notch services all time. Hence, we are always respond to your needs.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
 
 
  
  
 
  <div class="container col-xxl-8 py-2">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg bg-light">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 bg-light">

        <h2 class="display-6 fw-bold" style="font-family: 'Roboto', sans-serif; font-weight:bold;color: #073101;">
          Company Name
        </h2>
        <p class="lead text-justify">
          SenseiTech is a leading tech company specializing in software development and gadget sales.
          With a focus on innovation and customer satisfaction, their seasoned professionals create
          customized software solutions using the latest technologies. They offer a diverse range of
          cutting-edge gadgets and prioritize quality in their product selection. SenseiTech's strong
          track record and dedication to building relationships with clients ensure exceptional service
          and support throughout the software development process. Continuously adapting and innovating,
          SenseiTech remains at the forefront of the industry, shaping the future of technology with their
          excellence in software development and gadget sales.
        </p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="" width="520">
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 py-2">
    <div class="bd-example-snippet bd-code-snippet">
      <div class="bd-example m-0 border-0">
        <div class="row row-cols-1 row-cols-md-3 g-4 ">

          <div class="col">
            <div class="card custom-card delay-2" style="background-color: #070774;">
              <div class="row">
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col d-flex align-items-end">
                  <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid custom-image">
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card custom-card delay-3" style="background-color: #070774;">
              <div class="row">
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col d-flex align-items-end">
                  <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid custom-image">
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card custom-card delay-1">
              <div class="row">
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col d-flex align-items-end">
                  <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid custom-image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-5 rounded text-body-emphasis bg-body-secondary" style="background-image: url('/static/assetes/full-shot-man-experiencing-virtual-reality.jpg'); background-size: cover; background-position: center;">
    <div class="col-lg-4 px-0">
      <h1 class="display-6 text-white fw-bold">We make IT simple, faster, and less expensive.</h1>
      <p class="lead my-3 text-white">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <div class="d-flex flex-column flex-lg-row gap-2">
        <button type="button" class="btn btn-primary btn-lg position-relative" style="--bs-btn-padding-y: .75rem; --bs-btn-font-size: .90em;">
          Continue reading...
        </button>

        <button type="button" class="btn btn-dark btn-lg position-relative" style="--bs-btn-padding-y: .75rem; --bs-btn-font-size: .90em;">
          Learn More
          <span class="bi bi-arrow-right ms-2"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 py-2">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="text-primary">OUR SERVICES</h2>
        <p>Let us do the work, so you can focus on what matters.</p>
        
        <div class="text-with-icon">
          <div class="icon-circle">
            <i class="fas fa-cogs"></i>
          </div>
          <h5>Creative Solutions</h5>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
        
        <div class="text-with-icon">
          <div class="icon-circle">
            <i class="fas fa-bullhorn"></i>
          </div>
          <h5>Digital Marketing</h5>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
        
        <div class="text-with-icon">
          <div class="icon-circle">
            <i class="fas fa-code"></i>
          </div>
          <h5>IOT &amp; Programming</h5>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
      </div>
      <div class="col-lg-6">
        <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid ">
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 py-2">
    <div class="bd-example-snippet bd-code-snippet">
      <div class="bd-example m-0 border-0">
        <div class="row row-cols-1 row-cols-md-3 g-4">
  
          <div class="col">
            <div class="card card-sub" style="background-image: url('/static/assetes/full-shot-man-experiencing-virtual-reality.jpg')">
              <div class="row">
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text text-white">Additional text goes here.</p>
                  </div>
                </div>
              </div>
            </div>
          <br>
        
            <div class="col">
              <div class="card card-sub" style="background-image: url('/static/assetes/full-shot-man-experiencing-virtual-reality.jpg')">
                <div class="row">
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title text-white">Card title</h5>
                      <p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


              <div class="col">
                <div class="card custom-card delay-2">
                  <div class="row">
                    <div class="col">
                      <div class="card-body">
                        <h5 class="card-title text-white">Card title</h5>
                        <p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col d-flex align-items-end">
                      <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image" class="img-fluid custom-image">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-sub" style="background-image: url('/static/assetes/full-shot-man-experiencing-virtual-reality.jpg')">
                  <div class="row">
                    <div class="col">
                      <div class="card-body">
                        <h5 class="card-title text-white">Card title</h5>
                        <p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text text-white">Additional text goes here.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              
                <div class="col">
                  <div class="card card-sub" style="background-image: url('/static/assetes/full-shot-man-experiencing-virtual-reality.jpg')">
                    <div class="row">
                      <div class="col">
                        <div class="card-body">
                          <h5 class="card-title text-white">Card title</h5>
                          <p class="card-text text-white">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                          <p class="card-text text-white">Additional text goes here.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 py-2">
        <div class="line-container">
          <span class="line-text">
            <img src="image-url.jpg" alt="Image">
            LAPTOPS
          </span>
          <hr>
        </div>
        <div class="bd-example-snippet bd-code-snippet">
          <div class="bd-example m-0 border-0">
            <div class="row-wrapper" style="padding: 20px 0;">
              <div class="row">
                <div class="col-md-3 col-sm-6 sm-6">
                  <a href="your-link-url">
                    <div class="card" style="background-color: #f4f4f7; border: none;">
                      <div class="d-flex flex-column">
                        <div class="image-container">
                          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image 1" class="img-fluid main-image">
                          <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image 2" class="img-fluid hover-image">
                        </div>
                        <div class="card-body">
                          <p class="card-text text-black">Natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                
        
                <div class="col-md-3 col-sm-6 sm-6">
                  <a href="your-link-url">
                    <div class="card" style="background-color: #f4f4f7; border: none;">
                      <div class="d-flex flex-column">
                        <div class="image-container">
                          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image 1" class="img-fluid main-image">
                          <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image 2" class="img-fluid hover-image">
                        </div>
                        <div class="card-body">
                          <p class="card-text text-black">Natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                
                <div class="col-md-3 col-sm-6 sm-6">
                  <a href="your-link-url">
                    <div class="card" style="background-color: #f4f4f7; border: none;">
                      <div class="d-flex flex-column">
                        <div class="image-container">
                          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image 1" class="img-fluid main-image">
                          <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image 2" class="img-fluid hover-image">
                        </div>
                        <div class="card-body">
                          <p class="card-text text-black">Natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                
                <div class="col-md-3 col-sm-6 sm-6">
                  <a href="your-link-url">
                    <div class="card" style="background-color: #f4f4f7; border: none;">
                      <div class="d-flex flex-column">
                        <div class="image-container">
                          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image 1" class="img-fluid main-image">
                          <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image 2" class="img-fluid hover-image">
                        </div>
                        <div class="card-body">
                          <p class="card-text text-black">Natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        
          <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example m-0 border-0">
              <div class="row-wrapper">
                <div class="row">
                  <div class="col-md-3 col-sm-6 sm-6">
                    <div class="card" style="background-color: #f4f4f7; border: none;">
                      <div class="d-flex flex-column">
                        <div class="image-container">
                          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image 1" class="img-fluid main-image">
                          <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image 2" class="img-fluid hover-image">
                        </div>
                        <div class="card-body">
                          <p class="card-text text-black">Natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 sm-6">
                    <div class="card" style="background-color: #f4f4f7; border: none;">
                      <div class="d-flex flex-column">
                        <div class="image-container">
                          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image 1" class="img-fluid main-image">
                          <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image 2" class="img-fluid hover-image">
                        </div>
                        <div class="card-body">
                          <p class="card-text text-black">Natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 sm-6">
                    <div class="card" style="background-color: #f4f4f7; border: none;">
                      <div class="d-flex flex-column">
                        <div class="image-container">
                          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image 1" class="img-fluid main-image">
                          <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image 2" class="img-fluid hover-image">
                        </div>
                        <div class="card-body">
                          <p class="card-text text-black">Natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 sm-6">
                    <div class="card" style="background-color: #f4f4f7; border: none;">
                      <div class="d-flex flex-column">
                        <div class="image-container">
                          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image 1" class="img-fluid main-image">
                          <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image 2" class="img-fluid hover-image">
                        </div>
                        <div class="card-body">
                          <p class="card-text text-black">Natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example m-0 border-0">
              <div class="row-wrapper">
                <div class="row">
                  <div class="col-md-3 col-sm-6 sm-6">
                    <div class="card" style="background-color: #f4f4f7; border: none;">
                      <div class="d-flex flex-column">
                        <div class="image-container">
                          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image 1" class="img-fluid main-image">
                          <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image 2" class="img-fluid hover-image">
                        </div>
                        <div class="card-body">
                          <p class="card-text text-black">Natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 sm-6">
                    <div class="card" style="background-color: #f4f4f7; border: none;">
                      <div class="d-flex flex-column">
                        <div class="image-container">
                          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image 1" class="img-fluid main-image">
                          <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image 2" class="img-fluid hover-image">
                        </div>
                        <div class="card-body">
                          <p class="card-text text-black">Natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 sm-6">
                    <div class="card" style="background-color: #f4f4f7; border: none;">
                      <div class="d-flex flex-column">
                        <div class="image-container">
                          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image 1" class="img-fluid main-image">
                          <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image 2" class="img-fluid hover-image">
                        </div>
                        <div class="card-body">
                          <p class="card-text text-black">Natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 sm-6">
                    <div class="card" style="background-color: #f4f4f7; border: none;">
                      <div class="d-flex flex-column">
                        <div class="image-container">
                          <img src="/static/assetes/full-shot-man-experiencing-virtual-reality.jpg" alt="Image 1" class="img-fluid main-image">
                          <img src="/static/assetes/desktop-wallpaper-developer.jpg" alt="Image 2" class="img-fluid hover-image">
                        </div>
                        <div class="card-body">
                          <p class="card-text text-black">Natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
              </div>
      <br>
      
      
  
      
    

{% endblock content %}
