{% include 'base.html' %}

{% block content %}
<main class="container bg-light align-content-center">
  <div class="row pb-0 pe-lg-0 align-items-center justify-content-center rounded-3 border shadow-lg bg-light">
    <div class="hero-section">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/utilities">Utilities</a></li>
          </ol>
        </nav>

        <div class="row pb-0 pe-lg-0 pt-lg-0 align-items-center rounded-3 border shadow-lg bg-light">
          <div class="col-lg-12 p-3 p-lg-12 pt-lg-3 bg-light">
            <div class="card rounded" style="background: linear-gradient(to right, #b4a305, #9fd116);">
              <div class="card-content d-flex justify-content-center">
                <div class="text-container position-md-absolute" style="padding-top: 30px; padding-bottom: 30px;">
                  <h1 style="color: white;"><strong>Props</strong></h1>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</main>
{% endblock content %}
